version: '3.8'
services:
    db:
        image: postgres:15
        container_name: fin_db_prod
        environment:
            - POSTGRES_DB=financas_db
            - POSTGRES_USER=dev_user
            - POSTGRES_PASSWORD=dev_password
        ports:
            - "5432:5432"
        volumes:
            - ./docker/db_data:/var/lib/postgresql/data
